.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-window {
  background: var(--bs-body-bg);
  padding: 20px;
  border-radius: 12px;
  min-width: 300px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

.modal-base {
  position: fixed; /* фиксируем относительно окна */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px; /* фиксированная ширина */
  height: 600px; /* фиксированная высота */
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* внутренний контент не вылезает */
  display: flex;
  flex-direction: column;
}
